@inject ContactFormService contactFormService

<div class="nav-group">
    <NavLink Match="NavLinkMatch.All" class="nav-link" Href="/" >About</NavLink>
    <NavLink Match="NavLinkMatch.All" class="nav-link" Href="/Projects" >Projects</NavLink>
    <button Variant="Variant.Text" class="nav-link" @onclick="@(() => contactFormService.FormIsOpen = true)" >Contact</button>
</div>

@code {

}
<style>
    .nav-group {
        display:flex;
        flex-wrap: nowrap;
        height: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/4);
    }
    .nav-link {
        font-family: "Roboto", sans-serif;
        font-size: 1.3em;
        color: inherit;
        padding-left: .75em;
        padding-right: .75em;
        min-height: 100%;
        display: flex;
        align-items: center;
    }
    .active {
        background-color: #00695C;
    }
    .nav-link:hover {
        background-color: #00695c;
    }
</style>